
nav{
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;

}
p{
    padding-left: 20px;
}

img{
  width:300px;
  float: left;
    padding-right: 10px;
}

section{
  padding: 10px;
  min-height: 350px;
}

.parallax {
    background-image: url('/static/images/mahinda_college.jpg');
    min-height: 50px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
