a{
    text-decoration: none;
}

.contactblock{
    border: 2px solid blueviolet;
    max-width: 450px;
    position: center;
    margin: 20px;
    padding: 30px;
    color: navy;
    background: #fff;
    font-size:22px ;
}

img{
    width: 100px;
}

h2{
    text-align: center;
    color: navy;
    text-shadow: purple;
    margin: 0;
}