body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}









/*------------------------------Glowing Effect-------------------------------------*/
.glow { font-size: 40px; color: #fff; text-align: center; padding: 10px;margin: 0;
  -webkit-animation: glow 1s ease-in-out infinite alternate; width: 100%;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;  position:fixed;
  background-color: black; float:top ; with:120%}
@-webkit-keyframes glow {
  from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0000FF, 0 0 40px #0000FF, 0 0 50px #0000FF, 0 0 60px #000080, 0 0 70px #000080;}
  to {text-shadow: 0 0 20px #fff, 0 0 30px #1BAACE, 0 0 40px #1BAACE, 0 0 50px #1BAACE, 0 0 60px #1464D3, 0 0 70px #1464D3, 0 0 80px #000080;}}
/*-------------x----------------Glowing Effect-----------------------x--------------*/
