{% extends 'base.html' %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">

    <div class="parallax mahinde"><br><br><br>
    <p>I did my OLs and ALs at Mahinda College, Galle. I got 7A s and 2B s for my OLs. In 2017 I faced for A/L examination in Physical Stream and obtained the following results;  <br>
Combined Maths - A <br>
Physics - A  <br>
Chemistry - C <br> <br>
Activities and Societies: <br>
I was an active member of the school's astronomy club, Buddhist association, Environmental club and world organisation of scout moment,
and I was an outstanding player in the school's chess team.</p></div>

    <div class="parallax polpagoda"><br><br><br>
    <p>I passed the grade 5 scholarship exam at Polpogoda Dharmapala MV and I entered to Mahinda College Galle.</p></div>


{% endblock %}