<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Padma Gnanapriya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>



{#  ***************** Side bar diviation ***************** #}
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="{{ url_for('home_page')}}" onclick="closeNav()">Home</a>
  <a href="{{ url_for('about_page') }}" onclick="closeNav()">About Me</a>
  <a href="{{ url_for('article_page') }}" onclick="closeNav()">My Articles</a>
  <a href="{{ url_for('project_page') }}" onclick="closeNav()">Projects|tests</a>
  <a href="{{ url_for('contact_page') }}" onclick="closeNav()">Contact</a>
</div>




{#  ***************** Main body diviation ***************** #}
<div id="main">

  <h1 class="glow"><button class="openbtn" onclick="countNav()" style="float: left">☰ Menu </button>
      <span style=" text-align: center;">   &#9812; Padma Gnanapriya </span> </h1>

  {% block body %}


  {% endblock %}


</div>






<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>