<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>



{#  ***************** Side bar diviation ***************** #}
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#" onclick="closeNav()">Home</a>
  <a href="#" onclick="closeNav()">About</a>
  <a href="#" onclick="closeNav()">Services</a>
  <a href="#" onclick="closeNav()">Contact</a>
</div>




{#  ***************** Main body diviation ***************** #}
<div id="main" style="background: yellow">

  <h1 class="glow"><button class="openbtn" onclick="countNav()" style="float: left">☰ Menu </button><span style=" text-align: center;"> King - ඥානපාල  &#9812; </span> </h1>

  {% block body %}{% endblock %}


</div>






<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>