{% extends 'base.html' %}

{% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css')}}">
    <br>
    <div class="container">
        <div class="rainbow">
            <a href="tel:+94766328189"><h2>Call</h2><br>
            <img src="/static/images/mobile.gif?width=10">076-632-8189</a><br>
        </div>
        <div class="rainbow">
            <a href="sms:+94766328189"><h2>SMS</h2><br>
            <img src="/static/images/sms.gif?width=10">0766328189</a><br>
        </div>
        <div class="rainbow">
            <a href="mailto:padmaganapriya@gmail.com"><h2>email</h2><br>
            <img src="/static/images/email.gif?width=10">padmaganapriya@gmail.com</a><br>
            <a href="mailto:padmaganapriya@outlook.com">padmaganapriya@outlook.com</a>
        </div>
            <div class="rainbow">
            <a href="https://api.whatsapp.com/send?phone=+94766328189"><h2>Whatsapp</h2><br>
            <img src="/static/images/whatsapp.gif?width=10">0766328189</a><br>
        </div>
    </div>




{% endblock %}